# Core modules (mandatory)
jupyterlite-core==0.3.0
jupyterlab~=4.1.6
notebook~=7.1.2

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.3.1

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9

# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2