# Core modules (mandatory)
jupyterlite-core>=0.8,<0.9
jupyterlab~=4.6.0
notebook~=7.6.0

# Python kernel with lock support for pre-installing packages
jupyterlite-pyodide-kernel[lock]>=0.8,<0.9

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.3,<9

# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.9.8
theme-darcula==4.0.0